<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849492668123-pnf4i0usttt2stgpkhtgokvcba1k6p18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849492668123-pnf4i0usttt2stgpkhtgokvcba1k6p18</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>849492668123-cfg3iu5e50fboe8kb01u7udnanc4hpjo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtN4LEGp5exvUui3K5qVLetXH0X1Vy6uc</string>
	<key>GCM_SENDER_ID</key>
	<string>849492668123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woinbo.pigeon</string>
	<key>PROJECT_ID</key>
	<string>woinbo-pigeon</string>
	<key>STORAGE_BUCKET</key>
	<string>woinbo-pigeon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849492668123:ios:7e71d270ce01160e4ae6fe</string>
	<key>DATABASE_URL</key>
	<string>https://woinbo-pigeon.firebaseio.com</string>
</dict>
</plist>